body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#000000ba;  
    font-family: 'Arial';  
}
.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #ffffff;  
    border-radius: 15px ;
}
label{  
    font-size: 25px;  
}  
h2{
    font-size: 30px;
    color: #ffffff;
}